@import "tailwindcss";

@theme {
  --color-myorange-50: #fff8eb;
  --color-myorange-100: #ffecc6;
  --color-myorange-200: #ffd688;
  --color-myorange-300: #ffbb4a;
  --color-myorange-400: #ff9f1c;
  --color-myorange-500: #f97c07;
  --color-myorange-600: #dd5702;
  --color-myorange-700: #b73a06;
  --color-myorange-800: #942b0c;
  --color-myorange-900: #7a240d;
  --color-myorange-950: #461002;

  --color-primary: var(--color-myorange-400);

  --color-background: #1b1b1d;
  --color-code-background: #22272e;
  --color-code-color: #adbac7;
  --color-contrast: #fff;
  --color-link: #cfe2f4;
  --color-code-embed-footer: #363f4a;
  --color-tooltip: #262628;

  --font-code: "Fira Code", Consolas, Menlo, Monaco, monospace;

  --text-28: 28px;
  --text-28--line-height: 1.2;
  --text-32: 32px;
  --text-32--line-height: 1;
  --text-50: 50px;
  --text-50--line-height: 1;
  --text-h2: 27px;
  --text-h2--line-height: 39px;
  --text-h3: 22px;
  --text-h3--line-height: 26px;
  --text-h4: 19px;
  --text-h4--line-height: 26px;
  --text-h5: 16px;
  --text-h5--line-height: 26px;
  --text-h6: 14px;
  --text-h6--line-height: 20px;

  --breakpoint-xs: 440px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

@layer components {
  .post-content p {
    @apply mb-6 mt-4;
  }

  .post-content ul {
    @apply list-disc pl-6;
  }

  .post-content ol {
    @apply list-decimal pl-6;
  }

  .post-content a:not([class]) {
    @apply text-link underline hover:text-primary;
  }

  .post-content code {
    @apply font-code bg-code-background text-code-color text-sm;
  }

  .post-content pre code {
    @apply bg-transparent;
  }

  .post-content .code-like {
    @apply bg-code-background text-code-color -mx-4 p-4 sm:-mx-6 sm:p-6;
  }

  .post-content .code-like p {
    @apply font-code m-0 text-sm;
  }

  .post-content pre code.hljs,
  .post-content .breakout {
    @apply bg-code-background text-code-color -mx-4 p-4 sm:-mx-6 sm:px-6 sm:py-4;
  }

  .post-content .hljs-ln-numbers {
    @apply !pr-5;
  }

  .post-content img {
    @apply block max-w-full;
  }

  .post-content h2 {
    @apply text-h2 mb-3 mt-14;
  }

  .post-content h3 {
    @apply text-h3 mb-3 mt-14;
  }

  .post-content h4 {
    @apply text-h4 mb-3 mt-10;
  }

  .post-content h5 {
    @apply text-h5 mb-3 mt-10;
  }

  .post-content h6 {
    @apply text-h6 mb-3 mt-10;
  }
}
